<div class="mx-auto md:w-2/3 w-full">
  <h1>Log in</h1>

  <%= form_with model: @user, url: log_in_path do |form| %>
    <%= render "shared/error_messages", resource: @user %>

    <div class="space-y-3">
      <div>
        <%= form.label :email, class: "label-text" %>
        <%= form.text_field :email, placeholder: "example@mail.com", required: true, class: "input input-bordered w-full" %>
      </div>

      <div>
        <%= form.label :password, class: "label-text" %>
        <%= form.text_field :password, required: true, class: "input input-bordered w-full" %>
      </div>

      <div>
        <%= form.submit class: "btn btn-primary w-full" %>
      </div>
    </div>
  <% end %>

  <div class="mt-6">
    <p class="text-center">Doesn't have account? <%= link_to "Sign Up", sign_up_path, class: "link" %></p>
  </div>
</div>
