<%= form_with(model: routes_namespacing(:stack, task), id: "#{dom_id(task)}_form") do |form| %>
  <%= render "shared/error_messages", resource: task %>

  <%= form.label :description, class: "sr-only" %>

  <div class="relative">
    <%= form.text_field :description, placeholder: "Add a new task", class: "input input-bordered w-full outline-none focus:outline-none focus:ring-0 focus:ring-cyan-950" %>

    <div class="absolute top-0 right-0">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
