<li id="<%= "#{dom_id(task)}_item" %>" class="py-3 mb-1">
  <%= turbo_frame_tag dom_id(task) do  %>
    <div class="flex items-center justify-between">
      <%= link_to task.description, edit_task_path(task), class: "flex-1 #{"line-through opacity-50" if task.complete?}" %>

      <div class="flex items-center space-x-3">
        <% if task.pending? %>
          <%= button_to "Mark complete", task_path(task, task: { status: "complete" }), method: :patch, class: "btn btn-sm" %>
        <% else %>
          <%= button_to "Mark pending", task_path(task, task: { status: "pending" }), method: :patch, class: "btn btn-success btn-sm" %>
        <% end %>

        <%= button_to "Delete", task_path(task), method: :delete, class: "btn btn-error btn-sm" %>
      </div>
    </div>
  <% end %>
</li>
