<%= form_with(model: stack) do |form| %>
  <%= render "shared/error_messages", resource: stack %>

  <div class="my-5">
    <%= form.label :title, class: "sr-only" %>
    <%= form.text_field :title, placeholder: "Add stack title", class: "input input-bordered w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Back to stacks", stacks_path, class: "btn ml-2" %>
  </div>
<% end %>
