<div id="<%= dom_id stack %>" class="flex space-x-4 w-full">
  <div class="bg-neutral rounded-xl shadow w-4/5 p-3">
    <div class="h-full flex justify-between items-center">
      <%= link_to stack_tasks_path(stack) do %>
        <p class="text-2xl font-bold text-base-300 hover:scale-y-125 transition delay-50"><%= stack.title %></p>
      <% end %>

      <div class="flex">
        <%= link_to "Edit", edit_stack_path(stack), class: "btn px-6" %>
      </div>
    </div>
  </div>

  <div class="stats shadow w-1/5">
    <div class="stat flex items-center">
      <div class="stat-title">Tasks</div>
      <div class="stat-value"><%= stack.tasks.size %></div>
    </div>
  </div>
</div>
